# Файл с секретными ключами. НИКОГДА не добавлять в Git!
.env

# Папки виртуального окружения
venv/
.venv/

# Системные файлы Python
__pycache__/
*.pyc

# Файлы IDE (например, PyCharm)
.idea/